@charset "utf-8";
// Set your brand colors
$dark: #212c40;
$blue: #3f5895;

// $footer-background-color: #212c40;
// Update Bulma's global variables
$grey-dark: $dark;
// $primary: ;
// $link: ;
@import "../node_modules/bulma/bulma.sass";

body {
	font-family: $family-sans-serif;
}

.spinner {
	-webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

.fullpage-height {
	min-height: 100vh;
}

.halfpage-height {
	min-height: 50vh;
}
.center-align {
	text-align: center;
}
.custom-overlay {
	position: fixed;
	top: 10%;
	bottom: 10%;
	right: 15%;
	left: 15%;
	z-index: 999;
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.9);
	overflow-y: auto;
	// box-shadow: 1px 1px 1px grey, 1px 1px 1px 2px grey;
	// padding: 20px 10px;
	p {
		width: 90%;
		margin: 0 auto;
		font-size: 14px;
	}
}

.pointer:hover {
	cursor: pointer;
}

.border-left {
	border-left: 8px solid $blue;
	padding-left: 8px;
	padding-right: 8px;
	// background-color: #eee;
}

/*padding classes*/
/*padding top*/


.pt-0{
	padding-top: 0 !important;
}
.pt-1{
	padding-top: .3em !important;
}
.pt-2{
	padding-top: .62em !important;
}
.pt-3{
	padding-top: .93em !important;
}
.pt-4{
	padding-top: 1.25em !important;
}
/*padding bottom*/
.pb-0{
	padding-bottom: 0 !important;
}
.pb-1{
	padding-bottom: .3em !important;
}
.pb-2{
	padding-bottom: .62em !important;
}
.pb-3{
	padding-bottom: .93em !important;
}
.pb-4{
	padding-bottom: 1.25em !important;
}

/*padding right*/
.pr-0{
	padding-right: 0 !important;
}
.pr-1{
	padding-right: .3em !important;
}
.pr-2{
	padding-right: .62em !important;
}
.pr-3{
	padding-right: .93em !important;
}
.pr-4{
	padding-right: 1.25em !important;
}

/*padding left*/
.pl-0{
	padding-left: 0 !important;
}
.pl-1{
	padding-left: .3em !important;
}
.pl-2{
	padding-left: .62em !important;
}
.pl-3{
	padding-left: .93em !important;
}
.pl-4{
	padding-left: 1.25em !important;
}

/*margin classes*/
/*margin top*/
.mt-1{
	margin-top: .3em;
}
.mt-2{
	margin-top: .62em;
}
.mt-3{
	margin-top: .93em;
}
.mt-4{
	margin-top: 1.25em;
}
/*margin bottom*/
.mb-1{
	margin-bottom: .3em;
}
.mb-2{
	margin-bottom: .62em;
}
.mb-3{
	margin-bottom: .93em;
}
.mb-4{
	margin-bottom: 1.25em;
}

/*margin right*/
.mr-1{
	margin-right: .3em;
}
.mr-2{
	margin-right: .62em;
}
.mr-3{
	margin-right: .93em;
}
.mr-4{
	margin-right: 1.25em;
}

/*margin left*/
.ml-1{
	margin-left: .3em;
}
.ml-2{
	margin-left: .62em;
}
.ml-3{
	margin-left: .93em;
}
.ml-4{
	margin-left: 1.25em;
}
/*border radius*/
.br-1{
	border-radius: .2em;
}
.br-2{
	border-radius: .4em;
}
.br-3{
	border-radius: .6em;
}
.br-4{
	border-radius: .8em;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
